[submodule "nestjs-caching-example"]
	path = nestjs-caching-example
	url = git@github.com:Intive-Technology/nestjs-caching-example.git
[submodule "nestjs-api-versioning"]
	path = nestjs-api-versioning
	url = git@github.com:Intive-Technology/nestjs-api-versioning.git
[submodule "nestjs-grpc-example"]
	path = nestjs-grpc-example
	url = git@github.com:Intive-Technology/nestjs-grpc-example.git
[submodule "nestjs-skywalking"]
	path = nestjs-skywalking
	url = git@github.com:Intive-Technology/nestjs-skywalking.git
[submodule "nestjs-graceful-shutdown-example"]
	path = nestjs-graceful-shutdown-example
	url = git@github.com:Intive-Technology/nestjs-graceful-shutdown-example.git
[submodule "nestjs-logger"]
	path = nestjs-logger
	url = git@github.com:Intive-Technology/nestjs-logger.git
[submodule "nestjs-profiling-with-clinicjs"]
	path = nestjs-profiling-with-clinicjs
	url = git@github.com:Intive-Technology/nestjs-profiling-with-clinicjs.git
[submodule "nestjs-with-postgress"]
	path = nestjs-with-postgress
	url = git@github.com:Intive-Technology/nestjs-with-postgress.git
